upstream cloudify-rest {
    server {{ ctx.instance.runtime_properties.restservice_ip|default('127.0.0.1') }}:8100;
}


server {
    server_name _;
    listen 443 ssl;
    ssl_certificate /etc/nginx-certs/cloudify_internal_cert.pem;
    ssl_certificate_key /etc/nginx-certs/cloudify_internal_key.pem;

    location / {
        proxy_pass http://cloudify-rest;
    }
}
